@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    font-family: "Lobster Two", sans-serif;
    font-weight: 300;
    font-size: 200%;
    color: blanchedalmond;
}

body h1 {
    text-align: center;
    margin: auto;
    text-transform: uppercase;
}
body h3 {
    font-size: 50%;
    color: blanchedalmond;
    margin-right: auto;
    padding: 10% 10%;
}
/*---Fixed Images---*/
.fixedImage {
    background: url("/img/test.jpg") repeat fixed 100%;
    text-align: center;
}
.fixedImage-inner {
    padding-top: 20%;
    padding-bottom: 20%;
}